mat-toolbar {
    display: flex;
    justify-content:space-between;
}

mat-toolbar a{
    text-decoration: none;
    color: white;
    margin: 10px;
}

.container{
    margin: 35px;
    display: flex;
    align-items:center;
}