<div class="log" >
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <p>
        <mat-form-field appearance="outline">
            <mat-label>User name</mat-label>
            <input matInput placeholder="Enter your name" type="text" name="userName" formControlName="userName">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint *ngIf="!f.userName.valid && (submitted || f.userName.touched)">Please enter your name</mat-hint>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter your email" type="email" name="email" formControlName="email">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint *ngIf="!f.email.valid && (submitted || f.email.touched)">Please enter your email</mat-hint>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Enter your password" type="password" name="password"
                formControlName="password">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint *ngIf="!f.password.valid && (submitted || f.password.touched)">Please enter apassword</mat-hint>
        </mat-form-field>
    </p>
    <mat-hint *ngIf="errorMsg">
            {{errorMsg}}
        </mat-hint>
    <button mat-button type="submit">Register</button>
    <button routerLink="/login" mat-flat-button color="primary">Log in</button>
</form>
</div>